<section class="section" appScrollSection="about_me">
  <h2 class="section-title">About Me</h2>
  <div class="about-me__content">
    <div class="about-me__left-section">
      <div class="about-me__section">
        <h3 class="about-me__title">Location</h3>
        <div class="about-me__description">
          <div class="location-info">
            <img class="about-me__flag" [src]="ukrainianFlagAsset" alt="Ukraine Flag" />
            <span> Chernivtsi, Ukraine</span>
          </div>
        </div>
      </div>
      
      <div class="about-me__section">
        <h3 class="about-me__title">Education</h3>
        <div class="about-me__description">
          <ul>
            <li>
              <strong><a target="_blank" href="https://lpnu.ua/en">Lviv Polytechnic National University</a></strong><br>
              <small>2023 - 2027 • PhD in Computer Science</small>
            </li>
            <li>
              <strong><a target="_blank" href="https://lpnu.ua/en">Lviv Polytechnic National University</a></strong><br>
              <small>2021 - 2023 • M.S. in Computer Science (93.91 GPA)</small>
            </li>
            <li>
              <strong><a target="_blank" href="https://lpnu.ua/en">Lviv Polytechnic National University</a></strong><br>
              <small>2017 - 2021 • B.S. in Computer Science (96.2 GPA)</small>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="about-me__right-section">
      <div class="about-me__section">
        <h3 class="about-me__title">Languages</h3>
        <div class="about-me__description">
          <ul>
            <li>
              <div class="about-me__li-content">
                <img class="about-me__flag" [src]="britainFlagAsset" alt="UK Flag" />
                <span>English - C1 (<a target="_blank" href="/english.pdf">certified B2</a>)</span>
              </div>
            </li>
            <li>
              <div class="about-me__li-content">
                <img class="about-me__flag" [src]="ukrainianFlagAsset" alt="Ukraine Flag" />
                <span>Ukrainian - Native</span>
              </div>
            </li>
            <li>
              <div class="about-me__li-content">
                <img class="about-me__flag" [src]="germanFlagAsset" alt="Germany Flag" />
                <span>German - A1</span>
              </div>
            </li>
            <li>
              <div class="about-me__li-content">
                <img class="about-me__flag" [src]="polishFlagAsset" alt="Poland Flag" />
                <span>Polish - A1</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
