<section class="section about-me" appScrollSection="about_me">
  <p class="section-title">About me</p>
  <div class="about-me__content">
    <div class="about-me__left-section">
      <!-- Location -->
      <div class="about-me__section">
        <p class="about-me__title">Location</p>
        <div class="about-me__description">
          <img class="about-me__flag" [src]="ukrainianFlagAsset" alt="Location Flag" /><span> Chernivtsi, Ukraine</span>
        </div>
      </div>
      <!-- Education -->
      <div class="about-me__section">
        <p class="about-me__title">Education</p>
        <div class="about-me__description">
          <ul>
            <li>
            <a target="_blank" href="https://lpnu.ua/en">Lviv Polytechnic National University</a><br />
              01.09.2023 - 31.08.2027 PhD in Computer Science
            </li>
            <li>
              <a target="_blank" href="https://lpnu.ua/en">Lviv Polytechnic National University</a><br />
              01.09.2021 - 30.06.2023 M.S. in Computer Science (93.91 GPA)
            </li>
            <li>
              <a target="_blank" href="https://lpnu.ua/en">Lviv Polytechnic National University</a><br />
              01.09.2017 - 30.06.2021 B.S. in Computer Science (96.2 GPA)
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="about-me__right-section">
      <!-- Languages -->
      <div class="about-me__section">
        <p class="about-me__title">Languages</p>
        <div class="about-me__description">
          <ul>
            <li>
              <span class="about-me__li-content"><img class="about-me__flag" [src]="britainFlagAsset" alt="Location Flag" />English - C1 (<a target="_blank" href="/english.pdf">certified B2</a>)</span>
            </li>
            <li>
              <span class="about-me__li-content"><img class="about-me__flag" [src]="ukrainianFlagAsset" alt="Location Flag" />Ukrainian - fluent</span>
            </li>
            <li>
              <span class="about-me__li-content"><img class="about-me__flag" [src]="germanFlagAsset" alt="Location Flag" />German - A1</span>
            </li>
            <li>
              <span class="about-me__li-content"><img class="about-me__flag" [src]="polishFlagAsset" alt="Location Flag" />Polish - A1</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
</div>


</section>
