.my-projects {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: var(--big-gap);

  &__description {
    font-weight: normal;
    font-size: var(--regular-font-size);
    a {
      color: white;
      font-weight: bold;
    }
  }
  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
  }
  &__icon {
    width: var(--regular-font-size);
  }

  &__expansion-content {
    width: 100%;
  }
  &__project-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-family);
    font-weight: normal;
    font-size: var(--regular-font-size);
    color: var(--primary-color);
    line-height: var(--regular-font-size);
    .links-divider {
      color: white;
    }
    a {
      color: white;
    }
  }
  &__projects-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--small-gap);

    mat-divider {
      margin: 16px 0;
      --mat-divider-color: var(--primary-matching-color-1);
      --mat-diviert-width: 2px;
    }
    mat-expansion-panel {
      --mat-expansion-container-background-color: var(--secondary-matching-color-2);
      width: 100%;
      background: var(--secondary-matching-color-1);
      font-family: var(--font-family);
      & mat-expansion-panel-header {
        height: 100%;
        font-weight: bold;
        font-size: var(--regular-font-size);
        padding: 16px;
      }
      & mat-panel-title {
        font-family: var(--font-family);
      }
      ::ng-deep & .mat-expansion-indicator::after {
        height: calc(var(--regular-font-size)/6);
        width: calc(var(--regular-font-size)/6);
    }

      ::ng-deep & .mat-expansion-panel-body {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: var(--small-gap);
        padding: 16px 16px 24px 16px;
      }
    }
  }
  &__project-name {
    width: 70%;
  }

}

@media screen and (max-width: 400px) {
  .my-projects {
    &__project-name {
      // width: 60%;
    }
  }
}
