<section class="section welcome-page">
  <div class="welcome-page__general-info">
    <app-typewriter-welcome></app-typewriter-welcome>
    <div class="welcome-page__description">
      <p>I am Anton Lomovatskyi, a passionate and skilled Full-Stack Developer with expertise in Angular and NodeJS technologies. With a background in both front-end and back-end development, I have been an integral part of innovative projects, contributing significantly to their success.</p>
      <app-experience-calculator></app-experience-calculator>
    </div>
  </div>
  <div class="welcome-page__links">
    <app-navigation></app-navigation>
  </div>
</section>
