.work-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px;
  border: 2px solid #85AA97;
  background: var(--secondary-matching-color-1);
  border-radius: 10px;
  gap: var(--small-gap);
  font-size: var(--regular-font-size);
  &:hover {
    background: var(--secondary-matching-color-2);
    transition: background 1s;
  }
  &__date {
    width: 25%;
    height: 100%;
    font-weight: normal;
    color: var(--primary-matching-color-1);
  }
  &__info {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
  }
  &__company {
    font-weight: bold;
    color: white;
    font-size: var(--big-font-size);
  }
  &__positions {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    padding-left: 16px;
  }
  &__position {
    font-weight: normal;
    width: 100%;
    color: var(--primary-color);
  }
  &__description {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 8px;
    color: var(--primary-matching-color-1);
  }
  &__project-description {
    padding-left: 16px;
  }
  &__project-info {
    font-weight: bold;
  }
  &__project-name {
    &.link {
      color: white;
    }
  }
  &__achievements-block {
    padding-left: 16px;

  }
}
