<section class="section" appScrollSection="technical_skills">
  <h2 class="section-title">Technical Skills</h2>
  <div class="technical-skills">
    <div class="tech-skill" *ngFor="let key of groupedSkillsKeys">
      <h3 class="tech-skill__type">{{ key }}</h3>
      <div class="tech-skill__subtype-data" *ngFor="let subtypeData of groupedSkills[key]">
        <h4 class="tech-skill__subtype">{{ subtypeData.subtype }}</h4>
        <div class="skills-grid">
          <span class="skill-tag" *ngFor="let skill of subtypeData.skills.split(', ')">{{ skill }}</span>
        </div>
      </div>
    </div>
  </div>
</section>
