.tech-skill {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: var(--small-gap);
  &__subtype-data {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 8px;
  }
  &__type {
      font-weight: bold;
      font-size: var(--big-font-size);
  }
  &__subtype {
    font-weight: bold;
    font-size: var(--regular-font-size);
  }
  &__skill {
    font-weight: normal;
    font-size: var(--regular-font-size);
  }
}

.technical-skills {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: var(--big-gap);
}
