<div class="navigation">
  <div class="navigation__brand">
    <h1>AL</h1>
    <p>Software Engineer</p>
  </div>
  
  <div class="navigation__links">
    <button 
      class="navigation__link" 
      *ngFor="let item of navigationItems$ | async" 
      [class.active]="item.active"
      (click)="onNavigationClick(item.id)"
      [attr.aria-label]="'Navigate to ' + item.title">
      {{ item.title }}
    </button>
  </div>
  
  <div class="navigation__contact">
    <a href="mailto:anton.lomovatskyi@gmail.com?subject = Hey Anton!" title="Email">
      <img [src]="emailIconPath" alt="Email" class="navigation__icon">
    </a>
    <a href="https://www.linkedin.com/in/anton-lomovatskyi-17a9661b1/" target="_blank" title="LinkedIn">
      <img [src]="linkedinIconPath" alt="LinkedIn" class="navigation__icon">
    </a>
    <a href="https://github.com/RoffyMonsta" target="_blank" title="GitHub">
      <img [src]="githubIconPath" alt="GitHub" class="navigation__icon">
    </a>
  </div>
</div>
